<%-include('header') -%>
    <div class="center-div">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                Login System
            </div>
            <span>
                Login for the existing user
            </span>
      
        <form action="">
            <div class="form-group">
                <input type="email" placeholder="email" class="form-control" name="email">
                <small class=" text-muted text-left">Register Email Address</small>
            </div>
            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" name="password">
            </div>
           <div class="form-group">
             <button type="submit" class="btn btn-success rounded-pill">Submit</button>
           </div>
        </form>
          </div>
    </div>
<%-include('footer') -%>
