<%-include('header') -%>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
               <h2 class="font-weight-bold">
                 Login App
               </h2>
                <span class="label">
                Login for the existing user
            </span>
            </div>
        
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="email" placeholder="email" class="form-control" name="email">
            </div>
            <br>
            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" name="password">
            </div>
            <br>
             <button type="submit" class="btn btn-success rounded-pill">Submit</button>
           
        </form>
          </div>

    </div>
<%-include('footer') -%>
`